<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite">
	<groups>
		<run>
			<include name="Sanity" />
			<include name="Regression" />
			<include name="Master" />
			<include name="DataDriven" />
		</run>
	</groups>

	<test name="Test">
		<parameter name="browser" value="chrome" />
		<parameter name="os" value="windows" />
		<classes>
			<class name="com.orangeHRM.qa.testCases.VerifyLoginPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->